# python build stuff
src/**/**.egg-info
src/**/uv.lock
**/__pycache__

# rust build stuff
target/
.cargo/

# top-level build (i think by colcon?)
**/build/
**/install/
**/log/
**/COLCON_IGNORE
**/AMENT_IGNORE
**/.cargo/config.toml

# misc files
.ropeproject
.DS_Store
**/.pdb
**/.vscode
**/.zed
**/videos

# act, the local github actions runner, will sometimes install to a `bin/`
# folder when used locally.
#
# we'll ignore that here
bin/**

# image saved by the simulator camera script
camera_image.png

# from `lib/rovereye` :)
lib/rovereye/**/runs
lib/rovereye/**/*.onnx
lib/rovereye/**/*.pt
lib/rovereye/training
lib/rovereye/images/**
lib/rovereye/training/data/**
!lib/rovereye/training/data/gitkeep
